In [1]:
from run import *
import pandas as pd

In [2]:
target_email = init() or "test@gmail.com"
df = dataset(target_email=target_email)
data = generar_informe( df )

archivo: bdp_sample.csv   |   correo: fab...
37 registros, desde el 19-08-2025 HASTA el 01-09-2025
DÃ­as=14, Entradas=37, Confianza=media

/home/fabo/BDP/ohlongday/bdp/informe.py:80: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  daily["sueno_duracion_h"] = df.groupby("fecha").apply(sleep_hours).values

reporte generado como 'Mi BDP.pdf

In [3]:
data

,fecha,animo,activacion,conexion,proposito,claridad,estres,mov_intensidad,glicemia,meditacion_min,...,tiempo_pantalla_noche_min,cafe_ultima_hora,alcohol_ultima_hora,hora_dormir,hora_despertar,sueno_duracion_h,bienestar,bienestar_ema,estres_inv,estres_inv_ema
0,2025-08-19,8.000000,6.000000,8.000000,8.000000,8.000000,6.000000,NaN,134.000000,0.0,...,120.0,NaN,NaN,04:00,10:00,6.000000,7.100000,7.100000,4.000000,4.000000
1,2025-08-20,7.500000,7.500000,7.000000,8.000000,8.000000,3.000000,NaN,154.000000,60.0,...,NaN,NaN,NaN,04:00,09:30,6.250000,7.450000,7.205000,7.000000,4.900000
2,2025-08-21,7.000000,7.000000,8.000000,8.000000,8.000000,2.000000,NaN,160.000000,0.0,...,120.0,NaN,NaN,03:45,09:20,5.583333,7.600000,7.323500,8.000000,5.830000
3,2025-08-22,7.333333,5.666667,7.333333,8.000000,9.000000,0.666667,3.000000,157.666667,40.0,...,100.0,NaN,NaN,01:30,09:30,8.000000,7.800000,7.466450,9.333333,6.881000
4,2025-08-23,7.500000,6.500000,7.000000,7.500000,8.500000,0.500000,3.000000,145.500000,60.0,...,45.0,NaN,NaN,02:30,10:00,11.500000,7.800000,7.566515,9.500000,7.666700
5,2025-08-24,6.666667,6.333333,5.666667,7.000000,6.000000,4.333333,3.500000,173.000000,180.0,...,120.0,NaN,NaN,02:00,09:30,7.500000,6.100000,7.126560,5.666667,7.066690
6,2025-08-25,6.500000,6.000000,6.250000,7.375000,6.375000,1.500000,3.750000,159.500000,0.0,...,70.0,NaN,NaN,01:11,09:55,8.733333,6.643750,6.981717,8.500000,7.496683
7,2025-08-26,6.666667,6.333333,7.333333,7.333333,7.666667,1.666667,5.000000,179.333333,45.0,...,20.0,NaN,NaN,00:10,07:30,7.750000,7.250000,7.062202,8.333333,7.747678
8,2025-08-27,6.500000,6.500000,5.000000,7.500000,8.000000,1.000000,4.000000,150.500000,0.0,...,120.0,NaN,NaN,02:22,09:15,6.883333,6.950000,7.028542,9.000000,8.123375
9,2025-08-28,6.000000,5.666667,3.333333,8.333333,8.333333,1.000000,3.333333,153.333333,115.0,...,155.0,NaN,NaN,03:10,09:40,6.916667,6.450000,6.854979,9.000000,8.386362
10,2025-08-29,6.666667,6.333333,4.333333,8.000000,6.333333,0.333333,4.333333,117.000000,65.0,...,60.0,NaN,NaN,02:00,07:40,6.750000,6.516667,6.753485,9.666667,8.770454
11,2025-08-30,6.666667,6.000000,6.000000,8.000000,9.000000,0.666667,3.666667,126.000000,105.0,...,50.0,NaN,NaN,01:00,08:00,7.000000,7.416667,6.952440,9.333333,8.939318
12,2025-08-31,5.500000,5.000000,3.500000,5.250000,6.500000,2.000000,3.000000,123.000000,120.0,...,60.0,NaN,NaN,00:20,08:40,11.000000,5.650000,6.561708,8.000000,8.657522
13,2025-09-01,6.666667,5.333333,3.000000,8.666667,9.000000,2.000000,3.666667,146.333333,75.0,...,60.0,NaN,NaN,02:30,07:00,5.250000,6.516667,6.548195,8.000000,8.460266